name: contexts and expression

on:
  push:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: print githun context values
        run: echo "${{ toJSON(github) }}"