name: contexts and expression

on:
  # push:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: print github context values
        run: echo "${{ toJSON(github.events) }}"