name: environment

on:
workflow_dispatch:
push:


jobs:
  job1:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ env.ENV_TYPE }}"

  job2:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ env.ENV_TYPE }}"