name: environment

on:
  # push:
  workflow_dispatch:

environment: prod

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ vars.ENV_TYPE }}"
      - run: echo "${{ secrets.JENKINS_TOKEN }}"

  job2:
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ vars.ENV_TYPE }}"
      - run: echo "${{ secrets.JENKINS_TOKEN }}"