name: environment

on:
  # push:
  workflow_dispatch:


jobs:
  job1:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ vars.ENV_TYPE }}"
      - run: echo "${{ secrets.JENKINS_TOKEN }}"

  job2:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ vars.ENV_TYPE }}"
      - run: echo "${{ secrets.JENKINS_TOKEN }}"

      - name: configure aws
        uses: aws-actions/configure-aws-credentials@main
        with:
          aws-region: us-east-2
          role-to-assume: arn:aws:iam:692859939525:role/throck-check