name: environment

on:
  push:
  workflow_dispatch:


jobs:
  job1:
    environment: main
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ vars.ENV_TYPE }}"

  job2:
    environment: prod
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ vars.ENV_TYPE }}"