name: my-first-action
on:
  # push:
  #   branches:
  #   - main
  workflow_dispatch:
jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
      - name: say hello
        run: echo "Hi ! there"
      - name: checkout repository
        uses: actions/checkout@v3
      - name: view contents
        run: ls -alrt
      - uses: actions/setup-python@v6 
      - run: python greet.py Kiran
