name: outputs

on:
  push:
    branches:
      - main

jobs:
  outputs_test:
  runs-on: ubuntu-latest
  env:
    ROCM_VERSION: 7.11
  steps:
    - uses: actions/setup-python@v4
    - name: print env step1
      run : python3 -c "import os;print(os.environ.keys())"
    - name: printenv step2
      run: python3 -c "import os;print(os.environ.keys())"
