name: outputs

on:
  push:
    branches:
      - main

jobs:
  outputs_test:
    runs-on: ubuntu-latest
    outputs:
      ROCM_VERSION: ${{ steps.set_rocm_version.outputs.ROCM_VERSION}}
      VERSION_ID: ${{ steps.set_os_version_id.outputs.VERSION_ID}}
    env:
      ROCM_VERSION: "7.11"
    steps:
      - uses: actions/setup-python@v4
      - id: set_rocm_version
        run: echo "ROCM_VERSION=${{ env.ROCM_VERSION }}" >> $GITHUB_OUTPUT
      - id: set_os_version_id
        run: cat /etc/os-release | grep -i version_id >> $GITHUB_OUTPUT

  fetch_outputs:
    needs: outputs_test
    runs-on: ubuntu-latest
    steps:
      - name: echo outputs
        run: |
          echo "${{  needs.outputs_test.outputs.ROCM_VERSION }}"
          echo "${{  needs.outputs_test.outputs.VERSION_ID }}"

      


