name: call workflow

on:
  push:
  workflow_dispatch:

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: greet users
        run: echo "Hello! World"
  
  caller:
    uses: .github/workflows/matrix.yaml
