name: call workflow

on:
  push:
  workflow_dispatch:

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: greet users
        run: echo "Hello! World"
      - run: exit 100
      - if: always()
        run: printenv

